body {
  background-color: #e8f1ff;
  font-family: "Merriweather", serif;
}

header {
  border-bottom: 1px solid #e8f1ff;
  padding: 0 0 30px 0;
}

main {
  padding: 40px 0;
}

a {
  color: #0077b6;
}

footer {
  border-top: 1px solid #e8f1ff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba (0, 0, 0, 0.6);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.city-search-box {
  background: #e8f1ff;
  border: none;
  border-radius: 6px;
  color: black;
  font-size: 16px;
  width: 80%;
  padding: 15px 20px;
}

.search-button {
  background: #4d92f9;
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.weather-data-container {
  display: flex;
  justify-content: space-between;
}

.city-display {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.current-weather-details {
  font-size: 16px;
  color: #778da9;
  line-height: 24px;
  font-weight: 500;
}

.current-weather-details strong {
  color: #f72585;
}

.current-temp-container {
  display: flex;
}

.current-temp-display {
  font-size: 65px;
  line-height: 65px;
  font-weight: bold;
}

.temp-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-icon {
  width: 65px;
  height: 65px;
}

.future-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.future-forecast-date {
  text-align: center;
  color: #778da9;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.future-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.future-forecast-temps {
  text-align: center;
  color: #f72585;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.future-forecast-temp {
  padding: 0 5px;
}
